@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@300;400;500&display=swap');

:root{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    background-color: rgb(31, 25, 25);
    /* background-color: black; */

}

nav{
    display: flex;
    background-color: black;
    width: 250px;
    height: 100vh;
    position: fixed;
    z-index: 2;

}
nav li{
    display: flex;
    align-items:end;
    gap: 1rem;
    cursor: pointer;
    margin: 2rem 0rem;
    list-style: none;
    font-weight: bold;
    color: aliceblue;
    justify-content:left;
}
nav li svg{
    fill: white;
}

.account_Container{
    display: flex;
    position: fixed;
    align-items: center;
    width: 100vw;
    justify-content: space-evenly;
    background-color: black;
    height: 4rem;
    z-index: 1;
}
.account_Container .prev_next i{
    margin: 0rem 0.5rem;
    color: aliceblue;
    background-color: rgb(72, 29, 29);
    padding: 0.5rem;
    font-size: 1.5rem;
    cursor: pointer;
    border-radius: 50%;
    
}
.account_Container .prev_next{
     opacity: 1;
     margin: auto;
    }
    .account_Container .log_sign{
    opacity: 1;
     margin-left: auto;
     padding: 0rem 2rem;
}
.account_Container .log_sign button{
     cursor: pointer;
     border-radius: 500px;
     height: 2rem;
     background-color: transparent;
     outline: none;
     border: none;
     margin-left: auto;
     margin: 0rem;
     padding-block: 8px;
     padding-inline: 32px;
     font-size: inherit;
     min-block-size: 40px;
     height: 3rem;
     letter-spacing: 0.05rem;
     font-family: 'Noto Sans', sans-serif;
     font-weight: bold;
}
.account_Container .log_sign .log_in{
     border-radius: 20px;
     background-color: #FFFF;
}
.account_Container .log_sign .log_in:hover{
    transform: scale(105%);
     
}
.account_Container .log_sign .sign_up{
     color: antiquewhite;
     
}
.account_Container .log_sign .sign_up:hover{
     color: white;
     transform: scale(105%);

}

.main_Container{
    height: 200vh;
    position: relative;
    top: 5rem;
}

.main_Container{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin:0rem 55rem;
    color: #FFFF;
}


.main_Container .cards{
    display: flex;
    gap: 2rem;
    
}

.main_Container .cards .element{
    padding: 10px;
    border-radius: 10px;
    background-color: rgb(51, 37, 37);
    cursor: pointer;
    color: #FFFF;
}
.main_Container .cards .element img{
    max-width: 40rem;
    border-radius: 10px;
    padding: 0.3rem;
}
.main_Container .cards .element .singer{
    color: rgb(97, 149, 132);
}
.main_Container .cards .element:hover{
    cursor: pointer;  
    background-color: rgb(38, 53, 48); 
    transition: 0.2s;
}

.footer_section{
    z-index: 3;
    flex-direction: row;
    position: fixed;
    bottom: 0;
    background-color: black;
    height: 6rem;
    width: 100vw;
}


.play_pause_Section{
    padding: 1rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    color:#FFFF;
}

.play_pause_Section .track{
    display: flex;
    justify-content: center;
    gap: 2rem;
    align-items: center;
   
}
.play_pause_Section .track .details h3,h5{ 
    margin: 0;
    padding: 0;
}

.play_pause_Section .track img{
    margin: 0;
    padding: 0;
    max-width: 2rem;
    border-radius: 50%;
}
.play_pause_Section .playing{
    color: rgb(173, 155, 155);
    display: flex;
    flex-direction: column;
}
.play_pause_Section .playing i{
    font-size: 1.2rem;
}
.play_pause_Section .playing .selection_icon{
   display: flex;
   justify-content: space-around;
   align-items: center;
}
.play_pause_Section .playing .selection_icon #play_button{
    display: flex;
    color: black;
    width: 2.5rem;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    height: 2.5rem;
    background-color: aliceblue;
}


.play_pause_Section .playing .selection_icon #play_button:hover{
    cursor: pointer;
}

.play_pause_Section .playing .selection_icon #play_button #masterPlay{
    display: block;
}
.play_pause_Section .playing .selection_icon #play_button #masterPause{
    display: none;
}



.play_pause_Section .playing .progressbar{
    display: flex;
    justify-content: space-between;
    gap: 3rem;
}
.play_pause_Section .playing .progressbar #progress{
    display: flex;
    width: 30rem;
}

